@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");

:root {
  /* THEME 1 */
  --main-background: hsl(222, 26%, 31%);
  --toggle-background: hsl(223, 31%, 20%);
  --screen-background: hsl(224, 36%, 15%);

  --primary-text: hsl(0, 0%, 100%);
  --text-color: hsl(222, 26%, 31%);
 
  /* KEYS */
  --key-clr-secondary: hsl(225, 21%, 49%);
  --key-clr-secondary-shadow: hsl(224, 28%, 35%);

  
  --key-color: hsl(30, 25%, 89%);
  --key-shadow: hsl(28, 16%, 65%);

  /*   --accent-key: hsl(6, 63%, 50%); */
  --accent-key: hsl(5, 51%, 48%);
  --accent-key-shadow: hsl(6, 70%, 34%);
  
  /* THEME 2 */
  --light-gray-bg: hsl(0, 0%, 90%);
  --grayish-red-bg: hsl(0, 5%, 81%);
  --very-light-gray: hsl(0, 0%, 93%);


  --equal-clr: hsl(0, 0%, 100%);

  --white: hsl(0, 0%, 100%);
}

:root:has(#theme2:checked) {
  --main-background: hsl(0, 0%, 90%);
  --toggle-background: hsl(0, 5%, 81%);
  --screen-background: hsl(0, 0%, 93%);

  --key-color: hsl(45, 7%, 89%);
  --key-shadow: hsl(35, 11%, 61%);

  --key-clr-secondary: hsl(185, 42%, 37%);;
  --key-clr-secondary-shadow: hsl(185, 58%, 25%);

  --accent-key: hsl(25, 98%, 40%);
  --accent-key-shadow: hsl(25, 99%, 27%);

  --primary-text: hsl(60, 10%, 19%);
  --text-color: hsl(60, 10%, 19%);
}

:root:has(#theme3:checked) {
  --main-background: hsl(268, 75%, 9%);
  --toggle-background: hsl(268, 71%, 12%);
  --screen-background: hsl(268, 47%, 21%);

  --key-color: hsl(268, 47%, 21%);
  --key-shadow: hsl(290, 70%, 36%);

  --key-clr-secondary: hsl(281, 89%, 26%);
  --key-clr-secondary-shadow: hsl(285, 91%, 52%);

  --accent-key: hsl(176, 100%, 44%);
  --accent-key-shadow: hsl(177, 92%, 70%);

  --primary-text: hsl(52, 100%, 62%);
  --text-color: hsl(52, 100%, 62%);

  --equal-clr:  hsl(0, 0%, 0%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input,
button,
textarea,
select {
  font: inherit;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "League Spartan", sans-serif;
  font-size: 1rem;
  font-weight: 700;

  background: var(--main-background);
  color: var(--primary-text);
}

:root {
/*   line-height: 1.5; */

  color: var(--other);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

button {
  font-size: 2em;
  font-family: inherit;
  cursor: pointer;
}

header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.4em;
  letter-spacing: 2px;
  font-size: 1rem;
}

h1 {
  margin-top: 0.5em;
}

.themes {
  font-size: 0.75rem;
}

.labels {
  padding-inline: 0.5em;
  padding-bottom: 0.25em;
  display: flex;
  justify-content: space-between;
}


.themes {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 2em;

}

.theme-inputs {
  position: relative;
  background-color: var(--toggle-background);
  border-radius: 2em;
  width: 72px;
  height: 24px;
  display: flex;
  align-items: center;
}

.theme-inputs input {
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s;
  position: absolute;
}

.theme-inputs input:checked {
  transition: 0.5s ease-out;
}

.theme-inputs input:checked {
  cursor: default;
}

[id="theme1"] { 
  left: 4px;
}

[id="theme2"] {
  left: 26px;
}

[id="theme3"] {
  left: 50px;
}

input:checked {
  background-color: var(--accent-key);
}


.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.calculator {
  max-width: 360px;
  padding: 2rem;
}

.buttons-container, .screen {
  border-radius: 1em;
}

.screen {
  background-color: var(--screen-background);
  width: 100%;
  height: 90px;
  border: none;
  padding-right: 1em;
  margin-bottom: 1.5em;
  text-align: right;

  padding: 2em 1em 0em;
}

.user-input {
  color: var(--primary-text);
  border: none;
  background: none;
  font-size: 2rem;
  text-align: right;
  width: 100%;
}

.buttons-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center; 
  align-items: center;
  gap: 13px;
  background-color: var(--toggle-background);
  padding: 1.5em 1em;
}

button {
/*   width: 60px;
  height: 60px; */
  height: 60px;
  line-height:64px;  
  border: none;
  border-radius: 0.2em;
  background-color: var(--key-color);
  box-shadow: 0 4px var(--key-shadow);
  
  color: var(--text-color);
  text-align: center;
}

button:active {
  transform: translateY(4px);
}


/* button.clear {
  grid-column: span 2;
}

button.equals {
  grid-column: span 4;
} */

/* Custom layout */
/* button.line-1 {
  grid-column: span 3;
}

button.line-2,
button.line-3,
button.line-4 {
  grid-column: span 1;
}

button.line-5 {
  grid-column: span 2;
} */

.delBtn, .resetBtn {
  color: var(--white);
}

.resultBtn {
  color: var(--equal-clr);
} 

.delBtn,
.resetBtn,
.resultBtn {
  font-size: 1.25rem;
}

.resultBtn {
  background-color: var(--accent-key);
  box-shadow: 0 4px var(--accent-key-shadow); 
}

.resetBtn,
.delBtn {
  background-color: var(--key-clr-secondary);
  box-shadow: 0 4px var(--key-clr-secondary-shadow); 
}

.resetBtn,
.resultBtn {
  width: 100%;
  grid-column: span 2; 
}

/* Hover Effects */

:root {
  --numbers-hover: #ffffff;
  --hover2: #a2b3e1;
  --hover3: #f96c5b;
}

button:hover {
  background-color: var(--numbers-hover);
}

.delBtn:hover, .resetBtn:hover {
  background-color: var(--hover2);
}

.resultBtn:hover {
  background-color: var(--hover3);
}

:root:has(#theme2:checked) {
  --hover2: #62b5bd;
  --hover3: #ff8b38;
}
:root:has(#theme3:checked) {
  --numbers-hover: #6b34ac;
  --hover2: #8632ae;
  --hover3: #94fff9;
}

@media (min-width: 950px) {
  .calculator {
    max-width: 580px;
   
  }

  h1 {
    margin-bottom: -0.1em;
  }

  .buttons-container {
    gap: 24px;
    padding: 2em 1.5em;

  }

  button {
    width: 100px;
  }

  .buttons-container, .screen {
    border-radius: 0.5em;
  }
}